/*edited Matthew Scott, Hallee Ray 4/11/2024
edited Hallee Ray 4/12/2024 */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    /*margin: 1em;
    padding: 0;*/
}

/* should be included in every css */
#siteheader {
    margin: 0em auto;
    padding: 10px;
    font-family: "Lucida Handwriting", cursive;
    font-size: 60px;
    text-align: center;
    background-color: #ffd480;
}

#recnamebox {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#title {
    text-align: left;
    margin: 20px;
    font-size: 35px;
}

#fave,
#cart {
    transition-duration: 0.4s;
    margin: 25px;
    border-radius: 50%;
    padding: 10px;
}

/*hover over button effect 
#fave:hover,
#cart:hover {
    background-color: darkgray;
    color: white;
} */

#faveclicked,
#cartclicked {
    margin-top: 4em;
    text-align: left;
    font-size: 10px;
}

#recipeoutline {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items at the start of the cross axis */
    justify-content: center;
    background-color: lightgray;
}

#ingred{
    flex-grow: 1;
    margin: 10px;
}

#recipe_image {
    max-width: 50%; /* Adjust width of image */
    max-height: 50%;
    height: auto;
    margin: 20px;
    align-self: center;
}

#ingredients_header,
#instructions_header {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-left: 2em;
}

#cartbtn{
    margin-left: 4em;
    margin-bottom: 20px;
}

#ingredients_list,
#instructions_list {
    list-style-type: none;
    padding: 0;
    margin-left: 2em;
}

#ingredients_list li,
#instructions_list li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}
