<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="static/css/favorites.css">
    <script src="static/javascript/favorites.js"></script>
</head>
<body>
    <main>
<!--         <h1>Favorite Card</h1>   -->
    </main>
    <div id="fav_card">
        <h1 id="title">{{ title }}</h1>
        <div id="image_ingredients">
            <img id="recipe_image" src="{{ image_path }}" alt="Recipe Image">

        </div>
    </div>

</body>
</html>