<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Fetcher</title>
    <link rel="stylesheet" href="static/css/fetchRecipe.css">
    <script src="static/javascript/fetchRecipe.js"></script>
</head>
<body>
    <h1>Recipe Fetcher</h1>
    <p>Want to add a new recipe to the site?  Enter a URL to fetch a recipe:</p>
    <div id="fetchbar">
        <input type="text" id="recipeUrl" placeholder="Enter URL here">
        <button type="submit" class="fetch-button"> Fetch Recipe</button>
        <div id="result"></div> <!-- To display results or messages -->
    </div>
</body>
</html>