<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CutNPasta</title>
    <link rel="stylesheet" href="static/css/home.css">
    
    <!-- fonts: -->
    <!-- Page name font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Jacquarda+Bastarda+9+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Jacquarda+Bastarda+9+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <script src="static/javascript/recipe.js"></script>
    
    <!-- icons -->
    <script src="https://kit.fontawesome.com/b21cecda70.js" crossorigin="anonymous"></script>
    
</head>
<body>
    
    <!-- container for the site header, navigation links, search bar -->
    <div id="siteheader">
        <p>Cut n Pasta</p>
        
        <!-- links for navigation -->
        <a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i></a>
        
        <a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i></a>
        
        <!-- search bar -->
        <div id="searchbar">
            <input type="text" placeholder="Search...">
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>  
    </div> 
    
<!--     About, add recipe through url, first 3-5 favorites in database -->
    <h2>About Cut N Pasta</h2>
    <div id="about">
        
        <p>Let’s talk about these roasty, sweet, nutty brussels sprouts that combine those tender-crisp, whole-brussel bites with the ultra thin and crispy leaves, all coated with a lil’ mustard-maple drench and speckled with juicy bites of dried cranberry. Oh my gosh. WHY ARE THEY SO GOOD.

To be honest, I have very few “house favorites” in our house because I always change it up. Always trying new recipes, always moving on to the next thing. We hardly stay on any one recipe for more than just a few repeats because new! exciting! rah rah rah. But this recipe has been made WEEKLY for… um, the last five months? It has solidly earned its House Favorite status. We make these brussels sprouts all. the. time.

Dad loves them, toddler loves them, Mom loves them AND loves that everyone loves them. Also: guests love them, although usually if it’s more than just us, we’re going to need to double the recipe because, yes, in our house, we will for sure finish one pan between the three of us.</p>
    </div>
    
    <div id="addRecipe">
        {% include 'fetchRecipe.html' %}
    </div>
    
    <h2>Favorites</h2>
    <div id="favorites">
        
    </div>
</body>
</html>  
 