<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="static/css/recipe.css">
    <script src="static/javascript/recipe.js"></script>
</head>
<body>
    <main>
        <h1>Recipe page</h1>  
    </main>
    
    <h1 id="title">Recipe: {{ title }}</h1>
    <div id="image_ingredients">
        <img id="recipe_image" src="{{ image_path }}" alt="Recipe Image">
        <div id="ingred">
            <h2 id="ingredients_header">Ingredients</h2>
            <ul id="ingredients_list">
                {% for ingredient in ingredients.split('\n') %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <button id="cartbtn">Add Ingredients to Cart</button>
        </div>
    </div>
    <h2 id="instructions_header">Instructions</h2>
    <ol id="instructions_list">
        {% for instruction in instructions.split('\n') %}
            <li>{{ instruction }}</li>
        {% endfor %}
    </ol>

</body>
</html>