<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="static/css/recipe.css">
    <script src="static/javascript/recipe.js"></script>
    <script src="https://kit.fontawesome.com/b21cecda70.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div id="siteheader">Cut n Pasta</div>    
    
    <div id="recnamebox">
        <h1 id="title">{{ title }}</h1>
        
        <button id="fave">
            <i class="fa-solid fa-star"></i>
        </button>
        <div id="faveclicked"></div>
        
        <button id="cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>
        <div id="cartclicked"></div>
    
    </div>
    
    <div id="recipeoutline">
        
        <div id="ingred">
            <h2 id="ingredients_header">Ingredients</h2>
            <ul id="ingredients_list">
                {% for ingredient in ingredients.split('\n') %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <img id="recipe_image" src="{{ image_path }}" alt="Recipe Image">
        
    </div>
    
    <h2 id="instructions_header">Instructions</h2>
    <ol id="instructions_list">
        {% for instruction in instructions.split('\n') %}
            <li>{{ instruction }}</li>
        {% endfor %}
    </ol>

</body>
</html>