<!--
All Recipes HTML Template

This HTML template is used to display information cards for all recipes in the database.
Each card includes the recipe title and an image for that recipe. Clicking on a card directs you to the recipe.html with that recipe's data.
It also includes the basic nav layout.

Author: Matthew Scott
Date: 05/06/2024

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="static/css/recipe.css">
    
    <!-- fonts: -->
    <!-- Page name font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Jacquarda+Bastarda+9+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Jacquarda+Bastarda+9+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <script src="static/javascript/recipe.js"></script>
    <script>
    // JavaScript function to send a POST request to the Flask backend
    function updateFavoriteStatus() {
        const recipeTitle = document.getElementById("title").innerText;
        const isFavorited = true; // Change to false if you want to remove from favorites

        fetch('/update_favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: recipeTitle,
                is_favorited: isFavorited
            })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message); // Show the response message
        })
        .catch(error => console.error('Error:', error));
    }
    </script>
    
    <!-- icons -->
    <script src="https://kit.fontawesome.com/b21cecda70.js" crossorigin="anonymous"></script>
    
</head>
<body>
    
    <!-- container for the site header, navigation links, search bar -->
    <div id="siteheader">
        <p>Cut n Pasta</p>
        
        <!-- links for navigation -->
        <a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i></a>
        <a href="{{ url_for('favorites') }}"><i class="fa-solid fa-star"></i></a>
        <a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="{{ url_for('get_recipes') }}">View All Recipes</a>
    </div>
        
        <!-- search bar -->
<!--         <div id="searchbar">
            <input type="text" placeholder="Search...">
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button> -->
<!--         </div> -->
        
    
    <!-- display recipe names from database -->
    <div id="allrecs">
        {% for recipe in recipes %}
        <div id='reccard'>
            <div class="recipe-info">
                <a href="{{ url_for('recipes', recipe_title=recipe) }}">{{ recipe.replace("_", " ") }}</a> 
                <div class="square-container"> 
                    <img id="all_recipe_image" src="{{ image_path }}/{{ recipe }}_image.jpg" alt="Recipe Image">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>